/*Global Styles*/
body {
    background-color: #000;
}


#container {
    background-color: #3d1664;
    padding: 20px;
    width: 75%;
    margin: 20px auto;
    border: 15px groove #72cc39;
    box-shadow: 5px 10px blur;
}

img {
    display:block;
    width: 50%;
    margin: 0 auto;
    border: 15px groove#72cc39;
    
    
}

a {
    color: #72cc39;
    font-size: 17px;
    font-family: Copperplate, fantasy;
   
}

a:hover {
    color: #5f0cb2;
    text-decoration: none;
}

/* Desktop Styles */

nav {
    background-color: #3d1664; 
}

nav ul {
    list-style-type: none;
    padding: 0%;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav li a {
    font-weight: 100;
    font-size: 30px;
    font-family: Copperplate, fantasy;
    color: 	#72cc39;
    text-shadow: 2px 2px 2px #174f00;
    margin: 0 15px;
    background-color: #000;
    display: block;
    width: 300px;
    height: 50px;
    line-height: 45px;
    border: 15px groove#72cc39;
}

nav a:hover {
    text-decoration: none;
     color: 	#6d4992;
}
header h1 {
    text-align: center;
    font-size: 75px;
    color: 	#72cc39;
    text-shadow: 2px 2px 2px #174f00;
    font-family: Copperplate, fantasy;
}

hr {
    border-color: #72cc39;
    }

 main h2 {
        text-align: center;
        font-size: 50px;
        color: 	#72cc39;
        text-shadow: 2px 2px 2px #174f00;
        font-family: Copperplate, fantasy;
    }
 main h3 {
        text-align: center;
        font-size: 25px;
        color: #72cc39;
        font-family: Copperplate, fantasy;
       
    }

main p {
        text-align: center;
        font-size: 17px;
        color: 	#72cc39;
        text-shadow: #174f00;
        font-family: Copperplate, fantasy;
    }

 main img {
        display:block;
        width: 50%;
        margin: 20px auto;
        border: 4px solid#72cc39;
        border-style: groove;
        background-color: #3d1664 ;
    }
#lower {
    display: flex;
}

.col {
    padding: 10px;
    margin: 10px;
    width: 33.33%;
    background-color: #000;
    border: 4px groove #72cc39;
    display: block;
    text-align: center;
}

.col img {
    display:block;
        width: 50%;
        margin: 20px auto;
        border: 4px solid#72cc39;
        border-style: groove;
        background-color: #3d1664 ;
}
p {
    text-align: center;
    font-size: 17px;
    color: 	#72cc39;
    text-shadow: #174f00;
    font-family: Copperplate, fantasy;
}

footer {
    padding: 40px 0;
    text-align: center;
    color: 	#72cc39;
    font-family: Copperplate, fantasy;
}

.button {
    background-color: #fff;
    border: 1px groove #72cc39;
    display: block;
    text-align: center;
    width: 200px;
    height: 40px;
    line-height: 35px;
  text-decoration: none;
margin-left: auto;
margin-right: auto;
}
h3 {
    text-align: center;
        font-size: 25px;
        color: #72cc39;
        font-family: Copperplate, fantasy;
}
.button:hover {
    color: #5f0cb2;
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0%;
    text-align: center;
}
li {
    display: inline-block;
}

 li a {
    font-weight: 100;
    font-size: 30px;
    font-family: Copperplate, fantasy;
    color: 	#72cc39;
    text-shadow: 2px 2px 2px #174f00;
    margin: 0 15px;}