body {
    background-color: #712a95;
}

#container {
    background-color: #ffebcd;
    padding: 20px;
    width: 75%;
    margin: 0 auto;
    border: 4px solid#72cc39;

}
header h1 {
    text-align: center;
    font-size: 75px;
    color: 	#174f00;
    text-shadow: 2px 2px 2px #174f00;
}
nav {
    text-align: center;}
nav a {
    font-weight: 100;
    font-size: 30px;
    color: 	#174f00;
    text-shadow: 1px 1px 1px #174f00;
    margin: 0 15px;
}
nav a:hover {
   text-decoration: none;
    color: 	#6d4992;
}
main h2 {
    text-align: center;
    font-size: 50px;
    color: 	#174f00;
    text-shadow: 1px 1px 1px #174f00;
}
main h3 {
    text-align: center;
    font-size: 25px;
    color: #174f00;
   
}
main p {
    text-align: center;
    font-size: 17px;
    color: 	#174f00;
}
main img {
    display:block;
    width: 50%;
    margin: 20px auto;
    border: 4px solid#72cc39;
    border-style: groove;
    background-color: #3d1664 ;
}
a {
    color: #174f00;
    font-size: 17px;

}
a:hover {
    color: #6d4992;
    text-decoration: none;
}
footer {
    padding: 40px 0;
    text-align: center;
    color: 	#174f00;
}